// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

html,
body
  height: 100%

body
  background: linear-gradient(top, #cccccc66, #66666666);

.bespoke-slide
  background: none
  justify-content: left
  align-items: initial
  text-align: left
  padding: 10px

.emphatic
  background: linear-gradient(top, #ff000033, #ff000066, #ff666699);

.centered .bespoke-slide,
.bespoke-slide.centered
  justify-content: center
  align-items: center
  text-align: center

h1,
h2,
h3,
h4,
h5
  margin-top: 0
  margin-left: 0
  margin-right: 0
  margin-bottom: 0

h1 small,
h2 small,
h3 small,
h4 small,
h5 small
  color: #00000066
  font-size: 0.4em

p
  margin-top: 0
  margin-left: 0
  margin-right: 0
  margin-bottom: .5em

ul,
ol
  margin-top: .5em
  margin-left: 1em
  margin-right: 1em
  margin-bottom: .5em

ul
  list-style-type: disc

ul ul,
ol ul
  list-style-type: circle

footer
  margin: 0.5em
  padding: 0.3em
  display: block
  position: fixed
  bottom: 0
  right: 0
  opacity: .3
  border-radius: 3px
  background: #ffffff66
  a
    display: block
    color: black
  &:hover
    opacity: 1


.bespoke-slide aside
  display: none



.bespoke-slide.small,
.bespoke-slide .small
  font-size: small
  li
    margin-bottom: 6px

.bespoke-slide.smaller,
.bespoke-slide .smaller
  font-size: smaller
  li
    margin-bottom: 3px

.rounded
  border-radius: 10px


.bespoke-slide.single-image
  justify-content: center
  align-items: center
  text-align: center
  p:first-of-type
    img
      max-width: 95%
      max-height: 95%


.bespoke-slide.single-graph
  justify-content: center
  // align-items: center
  text-align: center
  p:first-of-type
    img
      width: 100%
      height: 100%
      max-width: 100%
      max-height: 100%


.bespoke-slide.single-factoid
  justify-content: center
  align-items: center
  text-align: center
  h2
    font-size: small
  p
    font-size: larger
    max-width: 60%


.two-columns
  column-count: 2
  column-fill: auto
  column-rule: 1px dotted #00000066

.columns.two .column
  width: 50%

.columns.two .column.left
  float: left

.columns.two .column.right
  float: right
