// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

html,
body
  height: 100%

body
  background: linear-gradient(top, #cccccc66, #66666666);

.bespoke-slide
  background: none

.emphatic
  background: linear-gradient(top, #ffffff00, #ff777766, black);

footer
  margin: 0.5em
  padding: 0.3em
  display: block
  position: fixed
  bottom: 0
  right: 0
  opacity: .3
  border-radius: 3px
  background: #ffffff66
  a
    display: block
    color: black
  &:hover
    opacity: 1
